canvas {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #003bd0;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px rgb(105, 0, 150);
}
p a {
  text-decoration: none;
  color: #fe0000;
}
span {
  font-size: 11px;
}
p > a:first-of-type {
  font-size: 30px;
}
body {
  overflow: hidden;
}
